# ==============================================================================
# paths.yaml — Filesystem layout for the surrogate pipeline
# Copy this file to paths.yaml and adjust root_dir for your machine.

# All paths are relative to the root_dir, which is the root of the repository.
# Absolute paths are also accepted, but relative paths are preferred for portability.
# Atention: it is case-sensitive on Linux and MacOS, but not on Windows.
# ==============================================================================

root_dir: "."                         # absolute or relative to repo root

runs_dir:       "./runs"
processed_dir:  "./data/processed"
archive_dir:    "./data/archive"
raw_dir:        "./data/raw"
models_dir:     "./models"
reports_dir:    "./reports"
logs_dir:       "./reports/logs"
templates_dir:  "./docs/templates"


# SNL-SWAN executable
surrogated_model: "./models/swan"                       # swan | delft3d
swan_executable:  "./models/swan/swanrun"            # or full path to swanrun / swan.exe
swan_input_template: "./docs/templates/INPUT.swn.j2"

# Grid & Bottom Filesystem
grid_file:      "./data/boundary_conditions/virtual_boundaries/grid_file_name"     # grid file for swan
bottom_file:    "./data/boundary_conditions/physical_boundaries/bottom_file_name"   # bottom file for swan

# Environment Inputs
scatter_csv:    "./data/raw/scatter_diagrams/wave_data.csv"

# virtual boundary files
deployment_polygon_file: "./data/boundary_conditions/virtual_boundaries/area_plot.pol"
#out_poly_path: "./data/boundary_conditions/virtual_boundaries/deployment_polygon_out.pol"
#exclusion_centers_file: "./data/boundary_conditions/virtual_boundaries/exclusion_centers.csv"